* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f6f9;
    color: blue;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #1e3a8a;
}

.logo {
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Hero */
.hero {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #1e3a8a, #2563eb);
    color: blue;
    text-align: center;
}

.hero span {
    color: #facc15;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #facc15;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.section {
    padding: 60px 10%;
    text-align: center;
    min-height:100vh;
    padding:60px;
}

.project-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.project-card {
    background:white;
    padding: 20px;
    margin: 15px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.contact-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form input,
.contact-form textarea {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #1e3a8a;
    color: white;
    border: none;
    cursor: pointer;
}
.contact-form button:hover {
    background-color: #152a6b; /* A slightly darker blue */
    /* You can also add other effects here */
}
footer {
    background-color: #1e3a8a;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

/* Responsive */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .project-container {
        flex-direction: column;
        align-items: center;
    }
}
.curve-box {
    width: 500px;
    height: 300px;
    background: blue;
    color: white;
    border-radius: 60px;   /* This creates the curve */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    transition: 0.4s ease; /* Smooth hover animation */
}

.curve-box:hover {
    background: white;
    color: blue;
    transform: scale(1.05); /* Makes it slightly bigger */
}
.success-message{
    display:none;
    color:blue;
    margin-top:10px;
}
.success-message .show{
     display: block;
}
#section1{
    background-color:#e6f2ff;
    
}
#section2{
    background-color:#cce6ff;
}
#section3{
    background-color:#b3d9ff;
}







